.large-6.column
  %h1 Sent Messages
  %table
    %thead
      %tr
        %th To
        %th Message
        %th Read
    %tbody
      - @sent_messages.each do |message|
        %tr
          %td= message.recipient.name
          %td= message.content
          %td= message.read
.large-6.column
  %h1 Recieved Messages
  %table
    %thead
      %tr
        %th To
        %th Message
        %th Read
        %th Actions
    %tbody
    - @recieved_messages.each do |message|
      %tr
        %td= message.sender.name
        %td= message.content
        %td= message.read
        %td
          - if !message.read
            = form_for message, action: 'read_messages' do |f|
              = f.hidden_field :read, value: true
              = f.submit "mark as read", class: "button success"
          - else
            N/A