.navbar.navbar-default.container-fluid
  .navbar-header
    = link_to "YKdotcom", root_path, class: 'navbar-brand'
  %ul.nav.navbar-nav  
    - if user_signed_in?
      %li
        = link_to messages_path do
          %i.fa.fa-envelope.fa-lg
          - if current_user.unread_messages_count > 0
            = current_user.unread_messages_count
      %li
        = link_to root_path do
          %i.fa.fa-users.fa-lg
  %ul.nav.navbar-nav.navbar-right  
    - if user_signed_in?
      %li
        = link_to current_user do
          = image_tag current_user.avatar.small.url, class: "small-circle", width: "18px"
          &nbsp;Profile
      %li
        = link_to "Sign out", destroy_user_session_path, method: :delete
    - else
      %li
        = link_to "Sing in", new_user_session_path
