= form_for @post do |f|
  = f.text_area :content, class: 'form-control'
  = f.hidden_field :sender_id, value: current_user.id
  = f.hidden_field :recipient_id, value: @user.id
  %br
  .pull-right= f.submit "Save", class: "btn btn-success", id: "post-button"