= content_tag_for(:div, post) do
  .media
    %a.pull-left
      = image_tag post.sender.avatar.small.url, width: '64px', class: "media-object"
      .media-body
        %h5.media-heading
          = link_to post.sender.name, post.sender
          %br
          = time_ago_in_words(post.created_at)
          ago.
          - if post.sender == current_user
            .pull-right
              = link_to "#", class: "delete-post", id: "delete" do
                %i.fa.fa-times
        = post.content