!!!
%html
  %head
    %title YKdotcom
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body

    = render "partials/navbar"
    .row
      - if user_signed_in? 
        - if current_user.first_name.present?
          .container= yield
        - else
          .body= render 'users/name_fill_in_form'
      - else
        .container= yield